[submodule "lib/v3-periphery"]
	path = lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
	branch = 0.8
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/Uniswap/v3-core
	branch = 0.8
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = release-v4.0
[submodule "lib/v3-periphery-fixed"]
	path = lib/v3-periphery-fixed
	url = https://github.com/Lilyjjo/univ3-0.8-periphery-codehash-fixed
	branch = 0.8
